<div class="root-container">
  <div class="group-container">
    <div class="app">
      <div class="task-header">
        <h1 class="task-header-title">Create Group</h1>
        <form class="task-form" [formGroup]="createGroupForm" (submit)="createGroup()">
          <input class="task-input" formControlName="grpName" placeholder="Add a new group..." #task autofocus="true">
          <button class="task-button">Add Task</button>
        </form>
      </div>
    </div>
    <div class="app" *ngFor="let pad of padGroup;let padIdx = index" #pepe>
      <div class="task-header">
        <div class="titlebox">
          <h1 class="task-header-title">{{padData.groups[pad].groupName}}</h1>
          <button class="group-delete" (click)="removeGroup(padData.groups[pad].groupName)"></button>
        </div>
        <div class="task-tools">
          <div class="task-count">{{padData.groups[pad].data.length}}</div>
          <div class="task-filters" #filters>
            <button class="task-filter all is-active" (click)="activate(pepe,'all',filters)">All</button>
            <button class="task-filter active" (click)="activate(pepe,'active',filters)">Active</button>
            <button class="task-filter completed" (click)="activate(pepe,'completed',filters)">Completed</button>
          </div>
        </div>
        <form class="task-form" [formGroup]="padForm" (submit)="addData(padData.groups[pad].groupName)">
          <input class="task-input" formControlName="data" placeholder="Add a new task..." #task autofocus="true">
          <button class="task-button">Add Task</button>
        </form>
      </div>
      <div class="task-list" *ngFor="let groupData of padData.groups[pad].data;let i = index">
        <div class="task-item" [class.is-completed]="groupData.status">
          <input class="task-status" type="checkbox" [checked]="groupData.status"
            [class.task-status-checked]="groupData.status" (click)="changeStatus(padData.groups[pad].groupName,i)">
          <label class="task-name">{{groupData.text}}</label>
          <button class="task-delete" (click)="removeData(padData.groups[pad].groupName,i)"></button>
        </div>
      </div>
      <div class="task-empty" *ngIf="padData.groups[pad].data.length===0">Not found a task</div>
    </div>
  </div>

</div>